<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
    <link rel="stylesheet" type="text/css" href="static/file-types.css">
</head>
<body>
<div class="container">
    <div class="intro">
        <div>
            <h3 align="center">
                Choose a File Type
            </h3>
        </div>
        <div>
            <p>
                Some files may not be compatible with certain application or devices. This can be changed later.
            </p>
        </div>
    </div>
    <div class="content">
        <div class="content__card">
            <div class="card__top">
                <div class="img_container">
                    <img src="static/recorder_icon.png">
                </div>
            </div>
            <div class="card__bottom">
                <div>
                    <b>John Doe</b>
                    <br/>
                    <span>Architect & Engineer</span>
                </div>
            </div>
        </div>
        <div class="content__card">
            <div class="card__top">
                <div class="img_container">
                    <img src="static/mp3_icon.png">
                </div>
            </div>
            <div class="card__bottom">
                <div>
                    <b>
                        John Doe
                    </b>
                    <br/>
                    <span>Architect & Engineer</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>